-- monitor should be 7x4
-- put the monitor next to the PC (any side)
-- put a double chest next to the PC (the script searches for any inventory)
-- fill the chest with stuff
-- make the prices here below
-- add your shop's bot account username and PIN here below
-- leave other settings as is if you don't know what they do precisely.

return {
    SHOP_WALLET_USERNAME = "change",       -- change this with a bot account made for the shop
    SHOP_WALLET_PIN = "change",         -- change this with the PIN code of the bot account
    MINIMUM_SHOP_WALLET_BALANCE = 1000,
    TRANSACTION_TIMEOUT = 60,
    USE_REFINED_STORAGE = true,             -- attach an RS bridge to the computer somewhere, doesn't mind how and where

    UI_COLORS = {
        screens = {
            default = {
                background = colors.black,
                text = colors.white
            },
            purchase_complete = {
                background = colors.green,
                text = colors.black
            },
            error = {
                background = colors.red,
                text = colors.black
            }
        },
        buttons = {
            back = {
                background = colors.gray,
                text = colors.white
            },
            buy = {
                background = colors.green,
                text = colors.white
            }
        }
    },

    PRICES = {
        ["minecraft:coal"] = 2,
        ["minecraft:charcoal"] = 5,
        ["minecraft:iron_ingot"] = 10,
        ["minecraft:copper_ingot"] = 15,
        ["minecraft:gold_ingot"] = 30,
        ["minecraft:lapis_lazuli"] = 20,
        ["minecraft:diamond"] = 50,
        ["minecraft:emerald"] = 1000,
        ["computercraft:computer_advanced"] = 200,
        ["minecraft:redstone"] = 8,
        ["minecraft:obsidian"] = 25,
        ["minecraft:glass"] = 3,
        ["minecraft:bookshelf"] = 15,
        ["minecraft:stone_bricks"] = 5,
        ["minecraft:ender_pearl"] = 40,
        ["minecraft:glowstone"] = 25,
        ["minecraft:netherite_ingot"] = 200,
        ["minecraft:blaze_rod"] = 30,
        ["minecraft:ghast_tear"] = 100,
        ["minecraft:magma_cream"] = 20,
        ["minecraft:wither_skeleton_skull"] = 150,
        ["minecraft:shulker_shell"] = 75,
        ["minecraft:elytra"] = 500,
        ["minecraft:enchanted_golden_apple"] = 500,
        ["minecraft:beacon"] = 300,
        ["minecraft:totem_of_undying"] = 1000,
        ["minecraft:dragon_egg"] = 5000,
        ["minecraft:trident"] = 100,
        ["minecraft:nautilus_shell"] = 50,
        ["minecraft:emerald_block"] = 900,
        ["minecraft:diamond_block"] = 450,
        ["minecraft:gold_block"] = 270,
        ["minecraft:iron_block"] = 90,
        ["minecraft:quartz_block"] = 8,
        ["minecraft:bone_block"] = 12,
        ["minecraft:slime_ball"] = 10,
        ["minecraft:name_tag"] = 50,
        ["minecraft:packed_ice"] = 15,
        ["minecraft:end_crystal"] = 200,
        ["minecraft:dragon_breath"] = 150,
        ["minecraft:nether_star"] = 1000,
        ["minecraft:dragon_head"] = 800,
        ["minecraft:command_block"] = 500,
        ["minecraft:command_block_minecart"] = 600,
        ["minecraft:barrier"] = 1000,
        ["minecraft:chorus_fruit"] = 15,
        ["minecraft:chorus_flower"] = 10,
        ["minecraft:beetroot"] = 2,
        ["minecraft:sweet_berries"] = 3,
        ["minecraft:spider_eye"] = 4,
        ["minecraft:fermented_spider_eye"] = 6,
        ["minecraft:glistering_melon_slice"] = 7,
        ["minecraft:prismarine_shard"] = 6,
        ["minecraft:prismarine_crystals"] = 8,
        ["minecraft:turtle_shell"] = 50,
        ["minecraft:heart_of_the_sea"] = 200,
        ["minecraft:wither_rose"] = 40,
        ["minecraft:tube_coral_block"] = 8,
        ["minecraft:brain_coral_block"] = 8,
        ["minecraft:bubble_coral_block"] = 8,
        ["minecraft:fire_coral_block"] = 8,
        ["minecraft:horn_coral_block"] = 8,
        ["minecraft:dead_tube_coral_block"] = 4,
        ["minecraft:dead_brain_coral_block"] = 4,
        ["minecraft:dead_bubble_coral_block"] = 4,
        ["minecraft:dead_fire_coral_block"] = 4,
        ["minecraft:dead_horn_coral_block"] = 4,
        ["minecraft:scute"] = 5,
        ["minecraft:kelp"] = 2,
        ["minecraft:dried_kelp_block"] = 10,
        ["minecraft:seagrass"] = 2,
        ["minecraft:blue_ice"] = 20,
        ["minecraft:packed_redstone"] = 10,
        ["minecraft:daylight_detector"] = 15,
        ["minecraft:honeycomb"] = 8,
        ["minecraft:honey_bottle"] = 5,
        ["minecraft:bee_nest"] = 30,
        ["minecraft:bee_spawn_egg"] = 40,
        ["minecraft:campfire"] = 10,
        ["minecraft:soul_torch"] = 12,
        ["minecraft:soul_lantern"] = 15,
        ["minecraft:soul_campfire"] = 15,
        ["minecraft:soul_soil"] = 3,
        ["minecraft:soul_fire"] = 5,
        ["minecraft:soul_wall_torch"] = 10,
        ["minecraft:lodestone"] = 25,
        ["minecraft:netherite_block"] = 1500,
        ["minecraft:netherite_scrap"] = 100,
        ["minecraft:netherite_sword"] = 400,
        ["minecraft:netherite_pickaxe"] = 500,
        ["minecraft:netherite_axe"] = 500,
        ["minecraft:netherite_shovel"] = 400,
        ["minecraft:netherite_hoe"] = 300,
        ["minecraft:netherite_helmet"] = 600,
        ["minecraft:netherite_chestplate"] = 1000,
        ["minecraft:netherite_leggings"] = 800,
        ["minecraft:netherite_boots"] = 500,
        ["minecraft:spectator"] = 1000,
        ["minecraft:netherite_horse_armor"] = 1000,
        ["minecraft:end_portal_frame"] = 100,
        ["minecraft:knowledge_book"] = 1000,
        ["minecraft:waxed_copper_block"] = 18,
        ["minecraft:waxed_exposed_copper"] = 10,
        ["minecraft:waxed_oxidized_copper"] = 12,
        ["minecraft:waxed_weathered_copper"] = 14,
        ["minecraft:waxed_weathered_cut_copper"] = 16,
        ["minecraft:waxed_weathered_cut_copper_slab"] = 8,
        ["minecraft:waxed_weathered_cut_copper_stairs"] = 10,
        ["minecraft:waxed_weathered_cut_copper_block"] = 20,
        ["minecraft:copper_block"] = 12,
        ["minecraft:exposed_copper"] = 6,
        ["minecraft:oxidized_copper"] = 8,
        ["minecraft:weathered_copper"] = 10,
        ["minecraft:weathered_cut_copper"] = 12,
        ["minecraft:weathered_cut_copper_slab"] = 4,
        ["minecraft:weathered_cut_copper_stairs"] = 6,
        ["minecraft:weathered_cut_copper_block"] = 16,
        ["minecraft:lightning_rod"] = 15,
        ["minecraft:amethyst_shard"] = 10,
        ["minecraft:amethyst_block"] = 40,
        ["minecraft:small_amethyst_bud"] = 20,
        ["minecraft:medium_amethyst_bud"] = 30,
        ["minecraft:large_amethyst_bud"] = 50,
        ["minecraft:amethyst_cluster"] = 60,
        ["minecraft:calcite"] = 5,
        ["minecraft:tuff"] = 3,
        ["minecraft:dripstone_block"] = 10,
        ["minecraft:candle"] = 5,
        ["minecraft:white_candle"] = 5,
        ["minecraft:orange_candle"] = 5,
        ["minecraft:magenta_candle"] = 5,
        ["minecraft:light_blue_candle"] = 5,
        ["minecraft:yellow_candle"] = 5,
        ["minecraft:lime_candle"] = 5,
        ["minecraft:pink_candle"] = 5,
        ["minecraft:gray_candle"] = 5,
        ["minecraft:light_gray_candle"] = 5,
        ["minecraft:cyan_candle"] = 5,
        ["minecraft:purple_candle"] = 5,
        ["minecraft:blue_candle"] = 5,
        ["minecraft:brown_candle"] = 5,
        ["minecraft:green_candle"] = 5,
        ["minecraft:red_candle"] = 5,
        ["minecraft:black_candle"] = 5,
        ["minecraft:powder_snow_bucket"] = 20,
        ["minecraft:glow_berries"] = 5,
        ["minecraft:cobbled_deepslate"] = 3,
        ["minecraft:deepslate"] = 2,
        ["minecraft:deepslate_tile"] = 4,
        ["minecraft:deepslate_bricks"] = 5,
        ["minecraft:cracked_deepslate_bricks"] = 6,
        ["minecraft:deepslate_tiles"] = 4,
        ["minecraft:chiseled_deepslate"] = 6,
        ["minecraft:polished_deepslate"] = 6,
        ["minecraft:cave_vines"] = 5,
        ["minecraft:cave_vines_plant"] = 3,
        ["minecraft:spore_blossom"] = 10,
        ["minecraft:sculk_sensor"] = 50,
        ["minecraft:pointed_dripstone"] = 7,
        ["minecraft:small_dripleaf"] = 5,
        ["minecraft:dripleaf"] = 10,
        ["minecraft:big_dripleaf"] = 15,
        ["minecraft:azalea"] = 5,
        ["minecraft:flowering_azalea"] = 8,
        ["minecraft:moss_block"] = 5,
        ["minecraft:moss_carpet"] = 3,
        ["minecraft:rooted_dirt"] = 3,
        ["minecraft:hanging_roots"] = 2,
        ["minecraft:glow_ink_sac"] = 8,
        ["minecraft:waxed_exposed_cut_copper"] = 12,
        ["minecraft:waxed_oxidized_cut_copper"] = 14,
        ["minecraft:cut_copper"] = 10,
        ["minecraft:cut_copper_slab"] = 5,
        ["minecraft:cut_copper_stairs"] = 7,
        ["minecraft:cut_copper_block"] = 20
    }
}
